.similar {
    margin: 4rem 0 2rem;
    padding: 2rem;
    background-color: var(--similar_div);
    color: var(--color-text);
    transition: .5s;

    h1 {
        transition: .5s;
        margin-bottom: 2rem;
    }

    .similarData {
        position: relative;
        display: grid;
        grid-auto-flow: column;
        z-index: 1000;
        scroll-padding-inline: .9rem;
        scroll-snap-type: inline mandatory;
        overflow-x: auto;
        gap: 1rem;
        transition: .5s;
        padding: 1rem 0;
        border-radius: 10px;

        .Moive_Similar_Card {
            scroll-snap-align: start;
            transition: .5s;
            cursor: pointer;
            width: 80%;

            &:hover {
                transform: translateY(17px) scale(1.04);
            }

            .image {

                img {
                    border-radius: 20px;
                }
            }
        }
    }
}