@import "../../Sass/mixin";

.ActorDetails {
    background-color: var(--background);
    width: 95%;
    height: auto;
    width: 100%;
    transition: .8s;
    margin: 1rem auto;
    position: relative;

    .nav {
        position: relative;
        margin: 2rem 0;
        // padding: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .NavItem {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background-color: var(--main-color);
            padding: 5px 10px;
            gap: 5px;
            transition: .5s;
            cursor: pointer;
            color: white;

            &:hover {
                transform: scale(1.16);
            }

            .NavIcon {
                color: hsl(349, 88%, 39%);
            }

            .Navtext {
                font-weight: bold;

                span {
                    color: hsl(6, 98%, 59%);
                }
            }
        }

        .regular {
            background-color: var(--color-text) !important;
            color: var(--background) !important;
            border-radius: 20px !important;

        }
    }

    .Actor {
        color: var(--color-text);

        h1 {
            letter-spacing: 2px;
            font-size: 2.3rem;
            margin: 1.3rem 0;
            transition: .5s;

        }

        .ActorContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: .5rem;

            .actorData {
                cursor: pointer;
                transition: .8s;

                &:hover {
                    transform: rotate(10deg) scale(1.05);
                }

                img {
                    border-radius: 20px;
                }
            }
        }
    }

}