@import "../../Sass/mixin";

.MainPage {
    width: 100%;
    height: calc(100vh - 4rem);

    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    background: var(--background);
    transition: .5s;

    // margin-top: 4rem;

    @include breakepoints(medium) {
        height: auto;
        flex-direction: column;
    }


    .overley {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--overley-3);
        backdrop-filter: blur(.4rem);
        z-index: 10;
    }


    .pageContent {
        position: relative;
        // top: 0;
        left: -80px;
        width: 50%;
        height: 100%;
        // height: 2%;
        z-index: 100;
        // display: none;
        transform: skewX(-14deg);

        // background: var(--main-color);
        background: linear-gradient(to right, hsl(213, 82%, 15%) 45%,
                var(--main-color));
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include breakepoints(medium) {
            width: 100%;
            transform: none;
            left: 0;
            margin-top: 2rem;
        }

        .textCotainer {
            font-size: 2rem;
            width: 80%;
            margin: 0 auto;
            padding-left: 4rem;
            animation: showText 8s infinite;
            opacity: 0;

            @include breakepoints(medium) {
                width: 100%;
                font-size: 1rem;
                padding: 1.5rem .5rem;
            }
        }


    }


    .screen_Image {
        position: relative;
        width: 60%;
        z-index: 1000;
        transition: .5s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include breakepoints(medium) {
            margin: 0 auto;
            width: 100%;
        }

        .screen {
            position: relative;
            top: -10%;
            // right: 100px;
            overflow: hidden;
            height: 75%;
            width: 70%;
            margin: 0 auto;
            transition: .5s;

            @include breakepoints(mobile) {
                top: -20px;
            }

            @media (min-width:576px) and (max-width:991px) {
                top: -35px;
            }

            // transform: translateY(-50%);

            img {
                width: 100%;
                height: 100%;
                max-width: 100%;
                max-height: 100%;
                // transform: translateY
            }


            .coverActive {
                animation: coverFading 7s ease-in forwards;
                position: absolute;
                top: 28.2%;
                right: 3.6%;
                width: 92.7%;
                height: 62%;
                margin: 0 auto;
                // top: 18.5%;
                // right: 17.8%;
                // transform: translateX(50%);
                // width: 34.66vw;
                // height: 50.9vh;
                z-index: 100;
                overflow: hidden;
                // height: auto;
                // opacity: 0;

                @include breakepoints(medium) {
                    top: 27%;
                }

                .img {
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .explore_now {
            padding: 1rem 2rem;
            cursor: pointer;
            background: linear-gradient(to right, hsl(213, 82%, 15%) 45%,
                    hsl(213, 82%, 8%));
            border-radius: 20px;
            font-size: 1.5rem;
            transition: .5s;
            letter-spacing: 2px;
            font-weight: 600;

            @include breakepoints(medium) {
                font-size: 1rem;
                padding: 1rem 2rem;
            }

            &:hover {
                transform: scale(1.1);
                background: var(--color-text) !important;
                color: var(--background);
            }
        }




    }


}

@keyframes showText {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@keyframes coverFading {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: .1;
        transform: scale(1);
    }
}